body {
  font-family: "Oswald", sans-serif;
  margin: 0;
  background: #000;
  color: white;
}
.container{
  padding: 0  90px;
  margin: 0 auto;
}
.register {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register form {
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: rgb(40, 40, 40);
  color: white;
  border-radius: 8px;
  box-shadow: 0px 2px 15px white;
  letter-spacing: 1px;
  
}

.register input {
  width: 100%;
  background: black;
  color: white;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 0px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

.btn {
  display: flex;
}

.register button {
  margin: 0 auto;
  width: 50%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #007bff   ;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.reg-nav{
 
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background: #007bff   ;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
}

.register button:hover ,.reg-nav:hover {
  background: rgb(197, 47, 243);
  background: #0255ae;
  
  
  
}

.register button:active,.reg-nav:active {
  background: red;
}
.error {
  color: #ff0000;
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
 padding-bottom: 15px;
}

.title {
  font-size: 40px;
  display: flex;
  font-weight: bold;
  color: red;
  
}

.find {
  border-radius:15px;
  background:red;
  color: #000;
  padding: 3px 3px;
  letter-spacing:2px;
  text-decoration: none;
  
}

.me {
  color: white;
  margin-left: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 44px;
}
.d-flex{
display: flex;
justify-content: space-between;
align-items: center;
margin: 10px 0px;
}